name: pre-commit
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.17'
      - uses: pre-commit/action@v3.0.0
